<html lang="en">
  <body>
    <section id="key-benefit">
      <div class="container">
        <div class="jumbotron xlp-jumbotron" style="padding-top: 30px;">
          <div class="xlp-jumbotron-text text-center">
            <p>SDK STATS</p>
            <hr>
            <br>
            <div class="row text-center">
              <div class='col-md-6'>
                <%- JSON.stringify(data) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

