<html lang="en">
  <body>
    <section id="app-logo">
      <div class="container xlp-container">
        <div class="row justify-content-between">
          <div class="col-md-12">
            SDK STATS!
        </div>
      </div>
    </section>

    <section id="key-benefit">
      <div class="container">
        <div class="jumbotron xlp-jumbotron" style="padding-top: 30px;">
          <div class="xlp-jumbotron-text text-center">
            <p>SDK STATS</p>
            <hr>
            <br>
            <div class="row text-center">
              <div class='col-md-6'>
                hello
              </div>
              <div class='col-md-6'>
                <p class="lead" style="margin-top: 50px;">
                  stat 1
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

